extends layout

block content
    .loader
        div.text HOLD THE FUCK ON
    div.stuff
        //- h1 WHAT ANIME SHOULD I WATCH
        form(action="/getanime" method="get" id="form")
            label WHAT THE FUCK IS YOUR MAL USERNAME
            input.responsive(type="text" placeholder="WHAT THE FUCK IS YOUR MAL USERNAME" name="username" required="required")
            input(type="submit" value="find me a fucking anime to watch")
        h2
            span.title
            span.anime

append js
    script(src="js/main.js")
        
